<?xml version="1.0" encoding="utf-8"?>
<configuration>  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LBKJClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
    
   <add name="MySql_ConnectionCharacter" connectionString="database=lbclient;Password=awJg8qbjdH0I&amp;i#$;User ID=sa;server=101.200.211.175;character set=utf8"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/> 
    </startup>
  <system.windows.forms jitDebugging="true"/>
  <userSettings>
    <LBKJClient.Properties.Settings>
      <setting name="overTime" serializeAs="String">
        <value>30</value>
      </setting>
    </LBKJClient.Properties.Settings>
  </userSettings>
</configuration>


